* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: #e4e4e4;
    background-color: #171717;
}

.search-results {
    min-width: 305px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
}

.anime-item {
    position: relative;
    width: calc(30% - 30px);
    height: 325px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 3px black;
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-size 0.3s ease;
}

.anime-item:hover {
    background-size: 110%;
}

.anime-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 25%;
    padding: 25px 15px 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    font-weight: bolder;
    font-size: 16px;
    text-shadow: 1px 1px 3px black;
    color: white;
    transition: font-size .3s ease;
}

.anime-item:hover .anime-title {
    font-size: 18px;
}

.loading-spinner {
    width: 15%;
    height: 60px;
    position: relative;
    animation: load2 2s infinite ease 1.5s;
    transition: opacity .3s ease;
    opacity: 0;
}

.loading-spinner::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 2px solid #951fdd;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-spinner::before {
    content: '';
    width: 30px;
    height: 46px;
    position: absolute;
    top: 50%;
    border-radius: 76%;
    left: 50%;
    transform: translate(-25%, -50%);
    background: #202020;
    z-index: 1;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*Anime Page*/

.anime-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 1s ease;
}

.anime-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s ease;
}

.anime-background.show {
    opacity: 1;
}

.anime-page .anime-poster {
    width: 30%;
    height: auto;
    transition: opacity 500ms ease;
    animation-name: slidein;
    animation-duration: 500ms;
}

.anime-page .anime-info-container {
    align-self: center;
    width: 50%;
    padding: 15px;
    background-color: #202020;
    box-shadow: 1px 1px 3px black;
    border-bottom: 2px solid #951fdd;
    transition: opacity 500ms ease;
    animation-name: slidein;
    animation-duration: 500ms;
}

@media(max-width: 960px) {
    .anime-page .anime-poster {
        width: 50%;
        margin: auto;
        height: auto;
        transition: opacity 500ms ease;
        animation-name: slidein;
        animation-duration: 500ms;
    }
    .anime-page .anime-info-container {
        align-self: center;
        width: 100%;
        padding: 15px;
        background-color: #202020;
        box-shadow: 1px 1px 3px black;
        border-bottom: 2px solid #951fdd;
        transition: opacity 500ms ease;
        animation-name: slidein;
        animation-duration: 500ms;
    }
}


/* Anime info card */

.anime-info-title {
    font-weight: 400;
}

.anime-info-releasedate {
    font-weight: 100;
}

.anime-info-synopsis {
    font-weight: 200;
}

.back-arrow {
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 10;
    display: inline-block;
    width: 30px;
    height: 25px;
}

.back-arrow:before,
.back-arrow:after,
.back-arrow .arrow-line {
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #951fdd;
}

.back-arrow .arrow-line {
    width: 25px;
    top: 10px;
    left: 3px;
}

.back-arrow:before {
    transform: rotate(45deg);
    top: 15px;
}

.back-arrow:after {
    transform: rotate(-45deg);
    top: 5px;
}

@media (max-width: 1024px) {
    input[type="text"] {
        width: 80%;
    }
    .anime-item {
        width: calc(50% - 30px);
    }
}

@media (max-width: 600px) {
    .anime-item {
        width: 100%;
    }
}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #202020;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    height: 60px;
}

.main-nav {
    width: 90%;
    padding: 10px;
    text-align: center;
}

.header-logo {
    width: 15%;
    font-size: 20px;
    color: rgb(195, 195, 195);
    font-weight: 100;
    line-height: 60px;
    overflow: hidden;
}

.main-nav input[type="search"] {
    width: 100%;
    padding: 3px 0;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #951fdd;
    line-height: 20px;
    font-size: 20px;
    height: 40px;
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.main-nav input[type="search"]::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

.main-nav input[type="search"]:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

.main-nav input[type="search"]::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

.main-nav input[type="search"]:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.main-nav input[type="search"]::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.body-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.24);
    font-weight: 100;
    font-size: 15vw;
    width: 100%;
    user-select: none;
    cursor: default;
    padding-left: 5%;
}

@keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.opacityone {
    opacity: 1;
}